html{
  font-family: sans-serif;
}
h1 {
  text-align: center;
}

.float-right {
  float: right;
  height: 100px;
}

.float-left {
  float: left;
  height: 200px;
  padding-right: 4px;
}

.side-link {
  line-height: 9px;
  font-size: 0.9em;
}

.side-title {
  padding-top: 10px;
}

.centered {
  text-align: center;
}

.top-padding{
  padding: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

#side-panel{
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  width: 160px;
  position: fixed;
  height: 100%;
  z-index: 1;
  padding: 15px;
}

#logo {
  width: 130px;
  height:auto;
  padding-bottom: 25px;
}

.col-md-6 {
  padding: 0px;
  height: 100%;
}

.row {
  margin: 0px;
}

#main-text {
  background-color: white;
  padding-left: 175px;
  padding-right: 15px;
  z-index: 0;
}

#top {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-top: 15px;
}

#middle {
  height: 100%;
}

#left {
  background-color: #f5fffa;
  border: 1px solid #a3bfb1;
  padding: 10px;
  margin: 10px;
  margin-left: 0px;
  margin-right: 2px;
  height: 100%;
}
#left-title {
  background-color: #cef2e0;
  padding: 10px;
  border: 1px solid #a3bfb1;
}

#right {
  background-color: #f5faff;
  border: 1px solid #a3b0bf;
  padding: 10px;
  margin: 10px;
  margin-right: 0px;
  margin-left: 2px;
  height: 100%;
}
#right-title {
  background-color: #cedff2;
  padding: 10px;
  border: 1px solid #a3b0bf;
}

#bottom {
  width: 100%;
  background-color: #faf5ff;
  border: 1px solid #ddcef2;
  padding: 10px;
  width: 100%;
}

#bottom-title {
  background-color: #ddcef2;
  padding: 10px;
  border: 1px solid #afa3bf;
  margin-left: 0px;
}
